*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
#F3EED9
#824936
#222C2A 

font-family: 'Playfair Display', serif;
font-weight: 900;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-weight: 400;
*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#222C2A;
    font-size: 1.3125rem;
    line-height: 1.6;
}
img{
    max-width: 100%;
}
h1, h2{
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    line-height: 1.1;
}
section{
    padding: 4em 0;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.section-title{
    font-size: 2.25rem;
    color: #F3EED9;
}
.section-title--dark{
    color: #824936;
}
.intro{
    background-color: #F3EED9;
    padding: 200px 0;
    text-align: center;
    color:#824936;
}
.intro__text{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.125rem;
    font-weight: 300;
    color:#222C2A;
    margin: 0 0 0.25em;
}
.intro__title{
    font-size: 3rem;
}
.section-three{
    background-color: #222C2A;
    color: white;
}
.section-four{
    background-color: #824936;
    color: white;
}